<%- include('../partials/user/header.ejs') %>

    <section>
        <div class="section my-5 py-5">
            <div class="container my-5 py-5">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="card p-4">
                            <h3 class="text-center mb-4">Email</h3>

                            <form action="/passwordReset" method="POST">

                                <div class="d-flex justify-content-center message">
                                    <% if(typeof message !=='undefined' ) { %>
                                        <p>
                                            <%= message %>
                                        </p>
                                        <% } %>
                                </div>

                                <div class="form-group">

                                    <input type="email" class="form-control" id="register-email-2" name="email"
                                        placeholder="Emai" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-primary-2 ">
                                        <span>Verify</span>
                                    </button>
                                </div>
                                <div class="text-center mt-5">
                                    <p>Don't have an account? <a href="/register" class="text-decoration-none">Create
                                            Account</a></p>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>



    </section>
