<%- include('../partials/user/header.ejs') %>


<form action="" method="post">

    <div class="d-flex justify-content-center message">
        <% 
        if(typeof message !== 'undefined')
        {
        %> 
        <p><%= message %></p>
        <%
        }
        %>
    </div>

    <div class="form-group">
        <label for="register-password">New Password *</label>
        <input type="password" class="form-control" id="register-password-2" name="newPassword" required>
        <span class="position-absolute top-50 end-0 translate-middle-y me-3" style="cursor:pointer;"
                                onclick="togglePassword()">
                                <i class="bi bi-eye-slash fs-5" id="" toggleIcon></i>
                            </span>
    </div>

    <div class="form-group">
        <label for="register-password">Confirm Password *</label>
        <input type="password" class="form-control" id="register-password-2" name="confirmPassword" required>
        <span class="position-absolute top-50 end-0 translate-middle-y me-3" style="cursor:pointer;"
                                onclick="togglePassword()">
                                <i class="bi bi-eye-slash fs-5" id="" toggleIcon></i>
                            </span>
    </div><!-- End .form-group -->
        
    <button type="submit" class="btn btn-outline-primary-2">
            <span>RESET</span>
    </button>

</form>

<script>
    function togglePassword() {
            var passwordInput = document.getElementById("password");
            var passwordEye = document.getElementById("toggleIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordEye.classList.remove("bi-eye-slash");
                passwordEye.classList.add("bi-eye");
            } else {
                passwordInput.type = "password";
                passwordEye.classList.remove("bi-eye");
                passwordEye.classList.add("bi-eye-slash");
            }
        }
    </script>


<%- include('../partials/user/footer.ejs') %>